@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/Contr.css" asp-append-version="true" />


<p>
    <label>Fan</label>
    <label class="switch">
        <input id="fan" type="checkbox">
        <span class="slider round"></span>
    </label>
</p>
<br />

<p>
    <label>Window</label>
    <label class="switch">
        <input id="window" type="checkbox">
        <span class="slider round"></span>
    </label>
</p>
<br />

<p>
    <label>Led</label>
    <label class="switch">
        <input id="led" type="checkbox">
        <span class="slider round"></span>
    </label>
    <input id="colorled" type="color" class="visi2" name="colour" />
</p>
<br />

Recommended light colors for plants
<table class="table table-bordered table-striped" style="width:50%;">
    <thead>
        <tr>
            <th width="10%"></th>
            <th width="10%">Hex</th>
            <th width="15%">Rgb</th>
            <th width="20%">Hsl</th>
        </tr>
    </thead>
    <tbody id="tbang">
        <tr height="10px">
            <td width="10%" style="cursor:pointer;background-color:rgb(0, 0, 255)" onclick="bangmau('ledon', 0, 0, 255)"></td>
            <td width="10%">#0000ff</td>
            <td width="15%">rgb(0, 0, 255)</td>
            <td width="20%">hsl(240, 100%, 50%)</td>
        </tr>
        <tr height="10px">
            <td width="10%" style="cursor:pointer;background-color:#ff0000" onclick="bangmau('ledon', 255, 0, 0)"></td>
            <td width="10%">#ff0000</td>
            <td width="15%">rgb(255, 0, 0)</td>
            <td width="20%">hsl(0, 100%, 50%)</td>
        </tr>
        <tr height="10px">
            <td width="10%" style="cursor:pointer;background-color:rgb(0, 255, 0)" onclick="bangmau('ledon', 0, 255, 0)"></td>
            <td width="10%">#00ff00</td>
            <td width="15%">rgb(0, 255, 0)</td>
            <td width="20%">hsl(120, 100%, 50%)</td>
        </tr>
        <tr height="10px">
            <td width="10%" style="cursor:pointer;background-color:rgb(255, 255, 255)" onclick="bangmau('ledon', 255, 255, 255)"></td>
            <td width="10%">#ffffff</td>
            <td width="15%">rgb(255, 255, 255)</td>
            <td width="20%">hsl(0, 0%, 100%)</td>
        </tr>
        <tr height="10px">
            <td width="10%" style="cursor:pointer;background-color:rgb(128, 0, 128)" onclick="bangmau('ledon', 128, 0, 128)"></td>
            <td width="10%">#800080</td>
            <td width="15%">rgb(128, 0, 128)</td>
            <td width="20%">hsl(300, 100%, 25%)</td>
        </tr>
        <tr height="10px">
            <td width="10%" style="cursor:pointer;background-color:rgb(255, 255, 0)" onclick="bangmau('ledon', 255, 255, 0)"></td>
            <td width="10%">#ffff00</td>
            <td width="15%">rgb(255, 255, 0)</td>
            <td width="20%">hsl(60, 100%, 50%)</td>
        </tr>
    </tbody>
</table>

<input id="dkhien" type="text" placeholder="dkhien" />
<button type="submit" onclick="dkhiencmd()">contrl</button>
<p id="dkcmd"></p>

<script>
    //const led = false;
    $(document).ready(function () {
        console.log("ready!");

        $.ajax({
            type: "GET",
            url: "@Url.Action("Check")",
            dataType: "json",

            success: function (result) {
                console.log(result);
                /* */
                if (result.value.fancheck == true) {
                    document.getElementById("fan").checked = true;
                }
                else {
                    document.getElementById("fan").checked = false;
                }

                if (result.value.windowcheck == true) {
                    document.getElementById("window").checked = true;
                }
                else {
                    document.getElementById("window").checked = false;
                }

                if (result.value.rgb1 == 0 && result.value.rgb2 == 0 && result.value.rgb3 == 0) {
                    document.getElementById("led").checked = false;
                }
                else {
                    document.getElementById("led").checked = true;
                    document.getElementById("colorled").setAttribute("class", "visi1");
                    //chinhmau("ledoff", 0, 0, 0);
                }

            },
            error: function (req, status, error) {
                console.log(status);
            }
        });
    });

</script>


@section Scripts {
    <script>
        function dkhiencmd() {
            console.log("wait"); document.getElementById("dkcmd").innerHTML = "wait";

            var dk = document.getElementById("dkhien").value;
            let texx = '{"mess": "a"}'
            const obj = JSON.parse(texx); obj.mess = dk;
            console.log(obj);

            $.ajax({
                type: "POST",
                url: "@Url.Action("Dkhien")", //data: {cm: dk},
                dataType: "json",
                data: obj,//{ cm: 'fanoff'},
                success: function (result) {
                    //console.log(result);
                    document.getElementById("dkcmd").innerHTML = "";
                    if (dk == "fanon") {
                        fan.checked = true;
                    }
                    else if (dk == "fanoff") {
                        fan.checked = false;
                    }
                    else if (dk == "windopn") {
                        document.getElementById('window').checked = true;
                    }
                    else if (dk == "windclos") {
                        document.getElementById('window').checked = false;
                    }
                    else if (dk == "ledoff") {
                        document.getElementById('led').checked = false;
                        document.getElementById("colorled").setAttribute("class", "visi2");

                    }
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            });
        }

        function dkhienbtn(cmd) {
            console.log("wait");
            let texx = '{"mess": "a"}'
            const obj = JSON.parse(texx); obj.mess = cmd;
            console.log(obj);

            $.ajax({
                type: "POST",
                url: "@Url.Action("Dkhien")", //data: {cm: dk},
                dataType: "json",
                data: obj,//{ cm: 'fanoff'},
                success: function (result) {
                    //console.log(result);
                },
                error: function (req, status, error) {
                    console.log(status)
                    if (cmd == "fanon") {
                        fan.checked = false;
                    }
                    else if (cmd == "fanoff") {
                        fan.checked = true;
                    }
                    else if (cmd == "windopn") {
                        document.getElementById('window').checked = false;
                    }
                    else if (cmd == "windclos") {
                        document.getElementById('window').checked = true;
                    }
                    else if (cmd  == "ledoff") {
                        document.getElementById('led').checked = true;
                    }

                }
            });
        }

        function chinhmau(mess, r, g, b) {
            console.log("wait");
            let tex = '{"mess": "a", "rgb1": 0, "rgb2": 0, "rgb3": 0}';
            const obj = JSON.parse(tex);
            obj.mess = mess; obj.rgb1 = r; obj.rgb2 = g; obj.rgb3 = b;

            $.ajax({
                type: "POST",
                url: "@Url.Action("Dkhien")", //data: {cm: dk},
                dataType: "json",
                data: obj,//{ cm: 'fanoff'},
                success: function (result) {
                    console.log(result);
                   
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            });
        }

        function bangmau(mess, r, g, b) {
            console.log("wait");
            let tex = '{"mess": "a", "rgb1": 0, "rgb2": 0, "rgb3": 0}';
            const obj = JSON.parse(tex);
            obj.mess = mess; obj.rgb1 = r; obj.rgb2 = g; obj.rgb3 = b;

            $.ajax({
                type: "POST",
                url: "@Url.Action("Dkhien")", //data: {cm: dk},
                dataType: "json",
                data: obj,//{ cm: 'fanoff'},
                success: function (result) {
                    console.log(result);
                    document.getElementById('led').checked = true;
                    document.getElementById("colorled").setAttribute("class", "visi1");
                },
                error: function (req, status, error) {
                    console.log(status);
                }
            });
        }

        document.getElementById('fan').addEventListener('change', function () {
            var fan = document.getElementById('fan');
            if (fan.checked) {
                dkhienbtn("fanon")
                //console.log("fanon");
            } else {
                dkhienbtn("fanoff")
                //console.log("fanoff");
            }
        });

        document.getElementById('window').addEventListener('change', function () {
            var window = document.getElementById('window');
            if (window.checked) {
                dkhienbtn("windopn")
                //console.log("windowon");
            } else {
                dkhienbtn("windclos")
                //console.log("windowoff");
            }
        });

        document.getElementById('colorled').addEventListener('change', function (event) {
            var led = document.getElementById('colorled');
            const color = event.target.value
            const r = parseInt(color.substr(1, 2), 16)
            const g = parseInt(color.substr(3, 2), 16)
            const b = parseInt(color.substr(5, 2), 16)
            //console.log(`red: ${r}, green: ${g}, blue: ${b}`)
            chinhmau("ledon", r, g, b);
            //console.log([r, g, b])

        });

        document.getElementById('led').addEventListener('change', function () {
            var led = document.getElementById('led');
            var ledcolor = document.getElementById("colorled");

            if (led.checked) {
                //dkhienbtn("windopn")
                ledcolor.setAttribute("class", "visi1"); //setAttribute("class", "democlass");
            } else {
                //dkhienbtn("windclos")
                ledcolor.setAttribute("class", "visi2");
                chinhmau("ledoff", 0, 0, 0);
            }
        });

    </script>
}
