@using Smartfarm1.Models
@using OxyPlot;
@using OxyPlot.Series;

<!---->
@model IEnumerable<FarmStatus>


@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .mycontainer {
        display: flex;
    }

    .tdbang {
        width: 30%;
    }
</style>


@ViewBag.FormattedDate


ahihi dongoc

<td hidden class="CO2" width="30%"></td>
<td hidden class="SoilMoisture" width="30%"></td>
<td hidden class="Light_0x5C" width="30%"></td>
<td hidden class="DateTime" width="50%"></td>


<h1>Index Category</h1>
<table id="bang" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th></th>
            <th>Time</th>
        </tr>
    </thead>


    <tbody id="tbang">
        @{
            ViewBag.ind = 0;
        }
        @foreach (var obj in Model)
        {
            //int i = ViewBag.ind;
            <tr>
                <td class="tdbang" width="30%">@obj.CO2</td>
                <td class="tdbang" width="30%">@obj.SoilMoisture</td>
                <td class="tdbang" width="30%">@obj.Light_0x5C</td>
                <td class="tdbang" width="30%">@obj.DateTime.ToString("HH:mm")</td>
            </tr>

            //i++; ViewBag.ind = i;
            ViewBag.modellast = obj;
        }

    </tbody>
</table>


@ViewBag.modellast.CO2
<p id="modl">a</p>
<hr style="margin-left:34px; width:800px">
<hr style="margin-left:34px; width:800px">


<h2>Chart</h2>
<div>
    <!--<img id="gigachart" src="@Url.Action("FarmChart", "Category")" alt="Chart" />-->
    <canvas id="GigaChart" style="width:100%;max-width:1000px"></canvas>
    <hr style="margin-left:34px; width:800px">

    <button type="submit" onclick="sochchet()">lấy dữ liệu hiện tại</button>
    <button type="submit" onclick="getnew()">lấy hết</button>

    <hr style="margin-left:34px; width:800px">
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<script type="module" src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.js"></script>

<script type="text/javascript">

</script>


@section Scripts {
    <script>
        var dade = 0;
        datachart();

        //getnew();
        //
        let tex = '{ "cO2": 0, "dateTime": "2024-05-09T13:00:53", "id": 0, "light_0x5C": 0, "soilMoisture": 0}'
        const obj = JSON.parse(tex);
        async function getsth() {

            $.ajax({
                type: "GET",
                url: "@Url.Action("Getsth")",
                dataType: "json",
                success: function (result) {
                    obj.cO2 = result.value.cO2; obj.dateTime = result.value.dateTime;
                    obj.id = result.value.id; obj.light_0x5C = result.value.light_0x5C; obj.soilMoisture = result.value.soilMoisture;

                    showdata();
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            });

            return 0;
        }

        function myFunction() {
            console.log("ahihi");
        }

        function getnew() {
            //setTimeout(getsth, 5000);
            getsth().then(
                function (value) { },
                function (error) { myDisplayer(error); }
            );
        }

        function showdata() {
            //xValues.shift();
            //yCO2.shift(); ysoilMoisture.shift(); ylight_0x5C.shift();

            xValues.push(obj.dateTime.toString().slice(11, 16));//
            yCO2.push(obj.cO2); ysoilMoisture.push(obj.soilMoisture); ylight_0x5C.push(obj.light_0x5C);

            //const myChart = document.getElementById('GigaChart').getContext('2d');
            myChart.data.datasets[0].data = yCO2; myChart.data.datasets[1].data = ysoilMoisture; myChart.data.datasets[2].data = ylight_0x5C;
            myChart.data.labels = xValues;
            myChart.update();

            
            //gigatabl();
            
            setTimeout(getnew, 5000);
        }
        //

        async function sochchet() {
            console.log("đợi tí");
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetName")",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            });
        }

        const dat = [];
        const xValues = [];
        const yCO2 = []; const ysoilMoisture = []; const ylight_0x5C = [];

        function datachart() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Gigachart")",
                dataType: "json",
                success: function (result) {
                    console.log(result);

                    for (var i = 0; i < result.value.length; i++) {
                        var strdate = result.value[i].dateTime.toString();
                        xValues.push(strdate.slice(11, 16));

                        yCO2.push(result.value[i].cO2);
                        ysoilMoisture.push(result.value[i].soilMoisture);
                        ylight_0x5C.push(result.value[i].light_0x5C);

                        //dat.push([result.value[i].cO2, result.value[i].soilMoisture, result.value[i].light_0x5C, result.value[i].dateTime.toString()]);
                    }

                    gigachart();
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            });
        }

        var myChart;
        function gigachart() {
            /**/
            const ctx = document.getElementById('GigaChart').getContext('2d');
            myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: xValues,
                    datasets: [{
                        label: 'CO2',
                        data: yCO2,
                        borderColor: 'red',
                        fill: false
                    }, {
                        label: 'SoilMoisture',
                        data: ysoilMoisture,
                        borderColor: 'blue',
                        fill: false
                    }, {
                        label: 'Light',
                        data: ylight_0x5C,
                        borderColor: 'green',
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });


            //getnew();
            setTimeout(getnew, 5000);
        }

        function gigatabl() {

            const td1 = document.createElement("td"); const td2 = document.createElement("td"); const td3 = document.createElement("td"); const td4 = document.createElement("td");
            td1.setAttribute("class", "tdbang"); td2.setAttribute("class", "tdbang"); td3.setAttribute("class", "tdbang"); td4.setAttribute("class", "tdbang");
            td1.innerHTML = obj.cO2; td2.innerHTML = obj.soilMoisture; td3.innerHTML = obj.light_0x5C; td4.innerHTML = obj.dateTime.toString().slice(11, 16);

            const tr = document.createElement("tr");
            tr.appendChild(td1); tr.appendChild(td2); tr.appendChild(td3); tr.appendChild(td4);
            document.getElementById("tbang").appendChild(tr);

        }

    </script>
}









