@using Smartfarm1.Models


<!---->
@model IEnumerable<FarmStatus>


@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    
</style>



<h1>Index Category</h1>

<div style="width:100%;">
    <table id="bang" class="table table-bordered table-striped" style="width:100%;">
        <thead>
            <tr>
                <th class="tdbang" width="10%">CO2</th>
                <th class="tdbang" width="10%">SoilMoisture</th>
                <th class="tdbang" width="10%">Light_0x5C</th>
                <th class="tdbang" width="10%">Humidity</th>
                <th class="tdbang" width="10%">Temperature</th>
                <th class="tdbang" width="25%">DateTime</th>
            </tr>
        </thead>
    </table>
</div>

<div style="width:100%; height:240px; overflow-y:auto; scrollbar-width: thin;">
    <table id="bangbd" class="table table-bordered table-striped" style="width:100%;z-index: -1;">
        <tbody id="tbang">
            @foreach (var obj in Model)
            {
                //int i = ViewBag.ind;
                <tr>
                    <td class="tdbang" width="10%">@obj.CO2.ToString()</td>
                    <td class="tdbang" width="10%">@Math.Round((double)obj.SoilMoisture, 1).ToString()</td>
                    <td class="tdbang" width="10%">@Math.Round((double)obj.Light_0x5C, 1).ToString()</td>
                    <td class="tdbang" width="10%">@Math.Round((double)obj.Humidity, 1).ToString()</td>
                    <td class="tdbang" width="10%">@Math.Round((double)obj.Temperature, 1).ToString()</td>
                    <td class="tdbang" width="50%">@obj.DateTime.ToString("yyyy-MM-ddTHH\\:mm\\:ss")</td>
                </tr>

                //ViewBag.modellast = obj;
            }

        </tbody>
    </table>
</div>

<hr style="margin-left:34px; width:800px">
<hr style="margin-left:34px; width:800px">

<!--
<table id="tbl" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th></th>
            <th>Time</th>
        </tr>
    </thead>
</table>
-->
<hr style="margin-left:34px; width:800px">

<h2>Chart</h2>
<div style="position:relative">
    <!--<img id="gigachart" src="@Url.Action("FarmChart", "Category")" alt="Chart" />-->
    <canvas id="GigaChart" style="width:100%;max-width:1000px"></canvas>
    <hr style="margin-left:34px; width:800px">
    <hr style="margin-left:34px; width:800px">
    <canvas id="GigaChart2" style="width:100%;max-width:1000px"></canvas>

    <hr style="margin-left:34px; width:800px">
    <!--
    <input id="dkhien" type="text" placeholder="dkhien" />
    <button type="submit" onclick="dkhien()">dieu khien</button>
    <button type="submit" onclick="getnew()">lấy hết</button>
    -->
    <div class="sochet">
        <p style="text-align:center;">SoilCondition in present</p>
        <div style="display: flex; position:sticky">

            <div style="float: left; width: 50%; margin-left: 10px">
                <p>CO2</p>
                <p>SoilMoisture</p>
                <p>Light</p>
                <p>Humidity</p>
                <p>Temperature</p>
            </div>
            <div style="float: left; width: 50%">
                <p id="co2"></p>
                <p id="soilmois"></p>
                <p id="ligh"></p>
                <p id="humi"></p>
                <p id="temp"></p>
            </div>

        </div>
        <button type="submit" onclick="sochchet()">get data at present</button>
        <p id="alet"></p>
    </div>
    <hr style="margin-left:34px; width:800px">
</div>


<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<!--<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<script type="module" src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<link rel="stylesheet" href="~/css/prototype.css" asp-append-version="true" />


<script type="text/javascript">
    //var js = jQuery.noConflict(true);
    //js(document).ready(function () {

    //});

    $(document).ready(function () {
        console.log("ready!");
        datachart();

        $.ajax({
            type: "GET",
            url: "@Url.Action("Check")",
            dataType: "json",

            success: function (result) {
                console.log(result);
                
                setTimeout(getnew, 60000);
                /* */
            },
            error: function (req, status, error) {
                console.log(status);
                alert("No signal from farm");
          
                    //chinhmau("ledoff", 0, 0, 0);
            }
        });
    });
</script>


@section Scripts {
    <script>
        function dkhien() {
            var dk = document.getElementById("dkhien").innerHTML;
            $.ajax({
                type: "POST",
                url: "@Url.Action("Dkhien")",
                dataType: "json",
                data: {cm: dk},
                success: function (result) {
                    console.log(result);
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            });
        }

        var dade = 0;
        let tex = '{ "cO2": 0, "dateTime": "2024-05-09T13:00:53", "id": 0, "light_0x5C": 0, "soilMoisture": 0, "temperature": 0, "humidity": 0}'
        const obj = JSON.parse(tex);
        async function getsth() {

            $.ajax({
                type: "GET",
                url: "@Url.Action("Getsth")",
                dataType: "json",
                success: function (result) {
                    obj.cO2 = result.value.cO2; obj.dateTime = result.value.dateTime;
                    obj.id = result.value.id; obj.light_0x5C = result.value.light_0x5C; obj.soilMoisture = result.value.soilMoisture;
                    obj.temperature = result.value.temperature; obj.humidity = result.value.humidity;

                    showdata();
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            });

            return 0;
        }

        function getnew() {
            //setTimeout(getsth, 5000);
            getsth().then(
                function (value) { },
                function (error) { myDisplayer(error); }
            );
        }

        function showdata() {
            xValues.shift();
            yCO2.shift(); ysoilMoisture.shift(); ylight_0x5C.shift();
            ytemp.shift(); yhumi.shift();

            xValues.push(obj.dateTime.toString().slice(11, 19));//
            yCO2.push(obj.cO2); ysoilMoisture.push(obj.soilMoisture); ylight_0x5C.push(obj.light_0x5C);
            ytemp.push(obj.temperature); yhumi.push(obj.humidity);

            //const myChart = document.getElementById('GigaChart').getContext('2d');
            myChart.data.datasets[0].data = yCO2; myChart.data.datasets[1].data = ysoilMoisture;
            myChart2.data.datasets[0].data = yhumi; myChart2.data.datasets[1].data = ytemp; myChart2.data.datasets[2].data = ylight_0x5C;

            myChart.data.labels = xValues; myChart.update();
            myChart2.data.labels = xValues; myChart2.update();

            gigatabl();
            setTimeout(getnew, 60000);
        }

        async function sochchet() {
            console.log("đợi tí");
            document.getElementById("alet").innerHTML = "wait";

            $.ajax({
                type: "GET",
                url: "@Url.Action("Sochchet")",
                dataType: "json",
                
                success: function (result) {
                    console.log(result);
                    document.getElementById("co2").innerHTML = result.value.cO2.toString() + " mg/l"; document.getElementById("soilmois").innerHTML = result.value.soilMoisture.toString() + " g/m³";
                    document.getElementById("ligh").innerHTML = result.value.light_0x5C.toString() + " lx";
                    document.getElementById("humi").innerHTML = result.value.humidity.toString() + " %"; document.getElementById("temp").innerHTML = result.value.temperature.toString() + " ℃";
                     /**///document.getElementById("alet").innerHTML = result.value;
                    document.getElementById("alet").innerHTML = "";

                },
                error: function (req, status, error) {
                    console.log(status)
                    document.getElementById("alet").innerHTML = status;
                }
            });
        }

        const xValues = [];
        const yCO2 = []; const ysoilMoisture = []; const ylight_0x5C = []; const ytemp = []; const yhumi = [];
        function datachart() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Gigachart")",
                dataType: "json",
                success: function (result) {
                    //console.log(result);
                    if (result.value.length > 10) {
                        const dat = result.value.slice(result.value.length - 10, result.value.length);

                        for (var i = 0; i < dat.length; i++) {
                            var strdate = dat[i].dateTime.toString();
                            xValues.push(strdate.slice(11, 19));

                            yCO2.push(dat[i].cO2);
                            ysoilMoisture.push(dat[i].soilMoisture);
                            ylight_0x5C.push(dat[i].light_0x5C);
                            ytemp.push(dat[i].temperature);
                            yhumi.push(dat[i].humidity);
                        }
                    }
                    else {
                        for (var i = 0; i < result.value.length; i++) {
                            var strdate = result.value[i].dateTime.toString();
                            xValues.push(strdate.slice(11, 16));

                            yCO2.push(result.value[i].cO2);
                            ysoilMoisture.push(result.value[i].soilMoisture);
                            ylight_0x5C.push(result.value[i].light_0x5C);
                            ytemp.push(result.value[i].temperature);
                            yhumi.push(result.value[i].humidity);
                        }
                    }

                    //js('#tbl').DataTable({
                        //data: result
                    //});
                    console.log(xValues);

                    gigachart();
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            });
        }

        var myChart, myChart2; var Chartchart;
        function gigachart() {
            /**/
            const ctx = document.getElementById('GigaChart').getContext('2d');
            myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: xValues,
                    datasets: [{
                        label: 'CO2(ppm - mg/l)',
                        data: yCO2,
                        borderColor: 'red',
                        fill: false
                    }, {
                        label: 'SoilMoisture(g/m³)',
                        data: ysoilMoisture,
                        borderColor: 'blue',
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });


            const ctx2 = document.getElementById('GigaChart2').getContext('2d');
            myChart2 = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: xValues,
                    datasets: [{
                        label: 'Humid(%)',
                        data: yhumi,
                        borderColor: 'red',
                        fill: false
                    }, {
                        label: 'Temper(℃)',
                        data: ytemp,
                        borderColor: 'blue',
                        fill: false
                    }, {
                        label: 'Light(lx)',
                        data: ylight_0x5C,
                        borderColor: 'green',
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        function gigatabl() {

            const td1 = document.createElement("td"); const td2 = document.createElement("td"); const td3 = document.createElement("td");
            const td4 = document.createElement("td"); const td5 = document.createElement("td"); const td6 = document.createElement("td");

            td1.setAttribute("class", "tdbang"); td2.setAttribute("class", "tdbang"); td3.setAttribute("class", "tdbang");
            td4.setAttribute("class", "tdbang"); td5.setAttribute("class", "tdbang"); td6.setAttribute("class", "tdbang");

            td1.innerHTML = Math.floor(obj.cO2*10)/10; td2.innerHTML = Math.floor(obj.soilMoisture*10)/10; td3.innerHTML = Math.floor(obj.light_0x5C*10)/10; 
            td4.innerHTML = Math.floor(obj.humidity*10)/10; //.slice(11, 16);
            td5.innerHTML = Math.floor(obj.temperature*10)/10; td6.innerHTML = obj.dateTime.toString().slice(0, 19);

            const tr = document.createElement("tr");
            tr.appendChild(td1); tr.appendChild(td2); tr.appendChild(td3); tr.appendChild(td4); tr.appendChild(td5); tr.appendChild(td6);
            document.getElementById("tbang").appendChild(tr);

        }

    </script>
}






