@using Smartfarm1.Models


<!---->
@model IEnumerable<FarmStatus>


@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .mycontainer {
        display: flex;
    }

    .tdbang {
        width: 30%;
    }

    .ex3 {
        width: 100%;
        height: 205px;
        overflow: auto;
    }

    .sochet {
        width: 320px;
        height: 240px;
        border: 1px;
        border-color: red;
        border-style: groove;
        position: absolute;
        left: 1050px;
        top: 50px;
        
    }
</style>


@ViewBag.FormattedDate
ahihi dongoc
<h1>Index Category</h1>

<div style="width:100%;">
    <table id="bang" class="table table-bordered table-striped" style="width:100%;">
        <thead>
            <tr>
                <th class="tdbang" width="30%">Category Name</th>
                <th class="tdbang" width="30%">Display Order</th>
                <th class="tdbang" width="30%"></th>
                <th class="tdbang" width="30%">Time</th>
            </tr>
        </thead>
    </table>
</div>

<div style="width:100%; height:240px; overflow-y:auto; scrollbar-width: thin;">
    <table id="bangbd" class="table table-bordered table-striped" style="width:100%;z-index: -1;">
        <tbody id="tbang">
            @foreach (var obj in Model)
            {
                //int i = ViewBag.ind;
                <tr>
                    <td class="tdbang" width="30%">@obj.CO2</td>
                    <td class="tdbang" width="30%">@obj.SoilMoisture</td>
                    <td class="tdbang" width="30%">@obj.Light_0x5C</td>
                    <td class="tdbang" width="30%">@obj.DateTime.ToString()</td>
                </tr>

                ViewBag.modellast = obj;
            }

        </tbody>
    </table>

</div>


@ViewBag.modellast.CO2
<p id="modl">a</p>
<hr style="margin-left:34px; width:800px">
<hr style="margin-left:34px; width:800px">


<h2>Chart</h2>
<div style="position:relative">
    <!--<img id="gigachart" src="@Url.Action("FarmChart", "Category")" alt="Chart" />-->
    <canvas id="GigaChart" style="width:100%;max-width:1000px"></canvas>
    <hr style="margin-left:34px; width:800px">

    <button type="submit" onclick="sochchet()">lấy dữ liệu hiện tại</button>
    <button type="submit" onclick="getnew()">lấy hết</button>


    <div class="sochet">
        <p style="text-align:center;">SoilCondition in present</p>
        <div style="display: flex;">
            
            <div style="float: left; width: 50%; margin-left: 10px">
                <p>CO2</p>
                <p>SoilMoisture</p>
                <p>Light</p>
            </div>
            <div style="float: left; width: 50%">
                <p id="co2"></p>
                <p id="soilmois"></p>
                <p id="ligh"></p>
            </div>
            

        </div>
        <button type="submit" onclick="sochchet()">lấy dữ liệu hiện tại</button>
        <p id="alet"></p>
    </div>

    <hr style="margin-left:34px; width:800px">
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<script type="module" src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.js"></script>

<script type="text/javascript">

</script>


@section Scripts {
    <script>
        var dade = 0;
        datachart();

        //getnew();
        //
        let tex = '{ "cO2": 0, "dateTime": "2024-05-09T13:00:53", "id": 0, "light_0x5C": 0, "soilMoisture": 0}'
        const obj = JSON.parse(tex);
        async function getsth() {

            $.ajax({
                type: "GET",
                url: "@Url.Action("Getsth")",
                dataType: "json",
                success: function (result) {
                    obj.cO2 = result.value.cO2; obj.dateTime = result.value.dateTime;
                    obj.id = result.value.id; obj.light_0x5C = result.value.light_0x5C; obj.soilMoisture = result.value.soilMoisture;

                    showdata();
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            });

            return 0;
        }

        function myFunction() {
            console.log("ahihi");
        }

        function getnew() {
            //setTimeout(getsth, 5000);
            getsth().then(
                function (value) { },
                function (error) { myDisplayer(error); }
            );
        }

        function showdata() {
            xValues.shift();
            yCO2.shift(); ysoilMoisture.shift(); ylight_0x5C.shift();

            xValues.push(obj.dateTime.toString().slice(11, 16));//
            yCO2.push(obj.cO2); ysoilMoisture.push(obj.soilMoisture); ylight_0x5C.push(obj.light_0x5C);

            //const myChart = document.getElementById('GigaChart').getContext('2d');
            myChart.data.datasets[0].data = yCO2; myChart.data.datasets[1].data = ysoilMoisture; myChart.data.datasets[2].data = ylight_0x5C;
            myChart.data.labels = xValues;
            myChart.update();


            gigatabl();
            setTimeout(getnew, 60000);
        }
        //

        async function sochchet() {
            console.log("đợi tí");
            document.getElementById("alet").innerHTML = "wait";

            $.ajax({
                type: "GET",
                url: "@Url.Action("Sochchet")",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    document.getElementById("co2").innerHTML = result.value.cO2; document.getElementById("soilmois").innerHTML = result.value.soilMoisture; document.getElementById("ligh").innerHTML = result.value.light_0x5C;
                    document.getElementById("alet").innerHTML = "";
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            });
        }

        //const dat = [];
        const xValues = [];
        const yCO2 = []; const ysoilMoisture = []; const ylight_0x5C = [];

        function datachart() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Gigachart")",
                dataType: "json",
                success: function (result) {
                    //console.log(result);
                    if (result.value.length > 10) {
                        const dat = result.value.slice(result.value.length - 10, result.value.length);

                        for (var i = 0; i < dat.length; i++) {
                            var strdate = dat[i].dateTime.toString();
                            xValues.push(strdate.slice(11, 16));

                            yCO2.push(dat[i].cO2);
                            ysoilMoisture.push(dat[i].soilMoisture);
                            ylight_0x5C.push(dat[i].light_0x5C);

                        }
                    }
                    else {
                        for (var i = 0; i < result.value.length; i++) {
                            var strdate = result.value[i].dateTime.toString();
                            xValues.push(strdate.slice(11, 16));

                            yCO2.push(result.value[i].cO2);
                            ysoilMoisture.push(result.value[i].soilMoisture);
                            ylight_0x5C.push(result.value[i].light_0x5C);

                            //dat.push([result.value[i].cO2, result.value[i].soilMoisture, result.value[i].light_0x5C, result.value[i].dateTime.toString()]);
                        }
                    }

                    

                    gigachart();
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            });
        }

        var myChart;
        function gigachart() {
            /**/
            const ctx = document.getElementById('GigaChart').getContext('2d');
            myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: xValues,
                    datasets: [{
                        label: 'CO2(ppm - mg/l)',
                        data: yCO2,
                        borderColor: 'red',
                        fill: false
                    }, {
                        label: 'SoilMoisture(g/m^3)',
                        data: ysoilMoisture,
                        borderColor: 'blue',
                        fill: false
                    }, {
                        label: 'Light(lx)',
                        data: ylight_0x5C,
                        borderColor: 'green',
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });


            //getnew();
            setTimeout(getnew, 60000);
        }

        function gigatabl() {

            const td1 = document.createElement("td"); const td2 = document.createElement("td"); const td3 = document.createElement("td"); const td4 = document.createElement("td");
            td1.setAttribute("class", "tdbang"); td2.setAttribute("class", "tdbang"); td3.setAttribute("class", "tdbang"); td4.setAttribute("class", "tdbang");
            td1.innerHTML = obj.cO2; td2.innerHTML = obj.soilMoisture; td3.innerHTML = obj.light_0x5C; td4.innerHTML = obj.dateTime.toString().slice(11, 16);

            const tr = document.createElement("tr");
            tr.appendChild(td1); tr.appendChild(td2); tr.appendChild(td3); tr.appendChild(td4);
            document.getElementById("tbang").appendChild(tr);

        }

    </script>
}









